Repository Vimall03/Alimento, pull requests merged in 2024-11, with the labels that each got.

#177 [FEAT] : Implement Personalized Dish and Vendor Recommendations
  recommendation-system/recommendation_system.php
  recommendation-system/recommendations.php
Labels: hacktoberfest-accepted, gssoc-ext, level2

#183 initialised next app and prisma db and globalised it for nextJS migration
  alimento-nextjs/.env.example
  alimento-nextjs/.eslintrc.json
  alimento-nextjs/.gitignore
  alimento-nextjs/README.md
  alimento-nextjs/app/(PublicRoutes)/page.tsx
  alimento-nextjs/app/favicon.ico
  alimento-nextjs/app/fonts/GeistMonoVF.woff
  alimento-nextjs/app/fonts/GeistVF.woff
  alimento-nextjs/app/globals.css
  alimento-nextjs/app/layout.tsx
  alimento-nextjs/lib/prismadb.ts
  alimento-nextjs/next.config.ts
  alimento-nextjs/package.json
  alimento-nextjs/postcss.config.mjs
  alimento-nextjs/prisma/schema.prisma
  alimento-nextjs/public/file.svg
  alimento-nextjs/public/globe.svg
  alimento-nextjs/public/next.svg
  alimento-nextjs/public/vercel.svg
  alimento-nextjs/public/window.svg
  alimento-nextjs/tailwind.config.ts
  alimento-nextjs/tsconfig.json
Labels: hacktoberfest-accepted, gssoc-ext, level1

#182 Create SECURITY.md
  SECURITY.md
Labels: hacktoberfest-accepted, gssoc-ext, level1

#189 added middleware, initialised nextAuth
  alimento-nextjs/app/api/auth/[...nextauth]/route.ts
  alimento-nextjs/app/fonts/GeistMonoVF.woff
  alimento-nextjs/app/fonts/GeistVF.woff
  alimento-nextjs/app/layout.tsx
  alimento-nextjs/lib/auth.ts
  alimento-nextjs/lib/providers.tsx
  alimento-nextjs/middleware.ts
  alimento-nextjs/package.json
  alimento-nextjs/types/next-auth.d.ts
Labels: hacktoberfest-accepted, gssoc-ext, level2

#191 Create Project Strucrure.md
  Project Strucrure.md
Labels: hacktoberfest-accepted, gssoc-ext, level1

#200 removed css files and changed to tailwind
  change_password.php
  chatbot.css
  chatbot.html
  checkout.css
  checkout.php
  edit_profile.php
  home.css
  home.php
  index.php
  main.css
  menu.css
  menu.php
  new_track_order.css
  new_track_order.php
  order_success.php
  orders.php
  output.css
  pin_search.php
  profile.php
  styles.css
  user_login.php
  user_signup.php
  vendor/add_menu.php
  vendor/edit_menu.php
  vendor/email_verify.php
  vendor/home.php
  vendor/vendor_login.php
  vendor/vendor_signup.php
  vendor/vendor_styles.css
Labels: hacktoberfest-accepted, gssoc-ext, level3

#175 Update homemadedb.sql
  homemadedb.sql
Labels: help wanted, hacktoberfest-accepted, gssoc-ext, level1

#201 SignUp and SignIn Page for Customers | Issue #185
  alimento-nextjs/app/(PublicRoutes)/Auth/Customer/SignIn/page.tsx
  alimento-nextjs/app/(PublicRoutes)/Auth/Customer/SignUp/page.tsx
  alimento-nextjs/package.json
  alimento-nextjs/public/signin.png
Labels: hacktoberfest-accepted, gssoc-ext, level2

#202 Migrate Navbar, Footer, and Landing Page to Next.js
  alimento-nextjs/app/(PublicRoutes)/page.tsx
  alimento-nextjs/app/layout.tsx
  alimento-nextjs/components/common/footer.tsx
  alimento-nextjs/components/common/main-nav.tsx
  alimento-nextjs/components/common/navbar-actions.tsx
  alimento-nextjs/components/common/navbar.tsx
  alimento-nextjs/components/ui/card.tsx
  alimento-nextjs/components/ui/container.tsx
  alimento-nextjs/components/ui/input.tsx
  alimento-nextjs/public/dish1-hero.webp
  alimento-nextjs/public/pizza-hero.webp
  alimento-nextjs/public/review.webp
  alimento-nextjs/utils/utils.ts
Labels: hacktoberfest-accepted, gssoc-ext, level2

#209 SignUp and SignIn Page for Vendors/Sellors | Isue #184
  alimento-nextjs/app/(PublicRoutes)/auth/Vendor/SignIn/page.tsx
  alimento-nextjs/app/(PublicRoutes)/auth/Vendor/SignUp/page.tsx
  alimento-nextjs/public/signin.jpg
Labels: hacktoberfest-accepted, gssoc-ext, level2

#213 Implement Email Sending Functionality and OTP Authentication functionality
  alimento-nextjs/lib/auth.ts
  alimento-nextjs/lib/nodemailerConfig.tsx
  alimento-nextjs/lib/sendEmail.ts
  alimento-nextjs/package.json
Labels: hacktoberfest-accepted, gssoc-ext, level2

#218 Implement Server Actions for Customer CRUD Operations with Error Handling
  alimento-nextjs/actions/customer/customerDELETE.tsx
  alimento-nextjs/actions/customer/customerEDIT.tsx
  alimento-nextjs/actions/customer/customerGET.tsx
  alimento-nextjs/actions/customer/login-action.tsx
  alimento-nextjs/actions/customer/signup-action.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level3

#219 Added a login and sign-in button with google option
  user_login.php
  user_signup.php
Labels: hacktoberfest-accepted, gssoc-ext, level2

#220 Implement Vendor CRUD API Endpoints for Testing and 3rd Party Integration
  alimento-nextjs/app/api/testing/vendor/[vendorId]/route.ts
  alimento-nextjs/app/api/testing/vendor/route.ts
Labels: hacktoberfest-accepted, gssoc-ext, level3

#227 Migrate Contributors page to Next.js
  alimento-nextjs/app/(PublicRoutes)/contributors/page.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level1

#228 Migrate and Implemented Resturant page to Next.js
  alimento-nextjs/app/(PublicRoutes)/restaurant/page.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level1

#231 auth is now functional
  alimento-nextjs/app/(PublicRoutes)/Auth/Customer/SignIn/page.tsx
  alimento-nextjs/app/(PublicRoutes)/Auth/Customer/SignUp/page.tsx
  alimento-nextjs/app/(PublicRoutes)/auth/Vendor/SignIn/page.tsx
  alimento-nextjs/app/(PublicRoutes)/auth/Vendor/SignUp/page.tsx
  alimento-nextjs/app/(PublicRoutes)/auth/components/otpForm.tsx
  alimento-nextjs/components/common/navbar-actions.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level3

#243 added Image functionality
  alimento-nextjs/.env.example
  alimento-nextjs/actions/dish/dishCREATE.ts
  alimento-nextjs/components/multistepForm/components/sidebarConstants.tsx
  alimento-nextjs/components/multistepForm/pages/formPage4.tsx
  alimento-nextjs/components/multistepForm/pages/main.tsx
  alimento-nextjs/components/ui/imageUpload.tsx
  alimento-nextjs/context/dishFormContext.tsx
  alimento-nextjs/next.config.ts
  alimento-nextjs/package.json
  alimento-nextjs/prisma/schema.prisma
Labels: hacktoberfest-accepted, gssoc-ext, level3

#246 edit-dish feature
  alimento-nextjs/actions/dish/dishEDIT.ts
  alimento-nextjs/actions/dish/dishGET.ts
  alimento-nextjs/app/vendor/[vendorId]/[dishId]/components/editDishForm.tsx
  alimento-nextjs/app/vendor/[vendorId]/[dishId]/page.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level2

#253 Added Trusted email validation functionality in Signup form
  user_signup.php
Labels: good first issue, hacktoberfest-accepted, gssoc-ext, level1

#259 added backend schema, server actions and testing API for faq forum
  alimento-nextjs/actions/forum/Answer.tsx
  alimento-nextjs/actions/forum/Question.tsx
  alimento-nextjs/app/api/testing/faq/[customerId]/[questionId]/route.ts
  alimento-nextjs/app/api/testing/faq/[customerId]/route.ts
  alimento-nextjs/app/api/testing/faq/admin/[adminId]/answer/[answerId]/route.ts
  alimento-nextjs/app/api/testing/faq/admin/[adminId]/question/[questionId]/route.ts
  alimento-nextjs/app/api/testing/faq/route.ts
  alimento-nextjs/prisma/schema.prisma
Labels: hacktoberfest-accepted, gssoc-ext, level2

#261 add dishes page with responsiveness and implement all 4 filters with beautiful carousal card
  alimento-nextjs/actions/dish/dishGETALL.ts
  alimento-nextjs/app/(PublicRoutes)/dishes/components/dishCardFE.tsx
  alimento-nextjs/app/(PublicRoutes)/dishes/components/selectMultipleCategories.tsx
  alimento-nextjs/app/(PublicRoutes)/dishes/page.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level2

#262 Enhance the Bug Template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: hacktoberfest-accepted, gssoc-ext, level1

#263 ADD Q&A Suggestion Template
  .github/ISSUE_TEMPLATE/config.yml
Labels: hacktoberfest-accepted, gssoc-ext, level1

#264 Wishlist Backend Implementation: schema, server actions, API
  alimento-nextjs/actions/customer/wishlist/CREATE_wishlist.ts
  alimento-nextjs/actions/customer/wishlist/DELETE_wishlist.ts
  alimento-nextjs/actions/customer/wishlist/EXISTS_wishlist.ts
  alimento-nextjs/actions/customer/wishlist/GETBYCUSTOMER_wishlist.ts
  alimento-nextjs/app/api/testing/wishlist/[customerId]/[dishId]/route.ts
  alimento-nextjs/app/api/testing/wishlist/[customerId]/route.ts
  alimento-nextjs/prisma/schema.prisma
Labels: hacktoberfest-accepted, gssoc-ext, level3

#266 Implement Order History View for Customer Dashboard [Backend + Routes]
  alimento-nextjs/actions/customer-dash/customerVendorData.tsx
  alimento-nextjs/actions/customer-dash/customerVendorOrderHistory.tsx
  alimento-nextjs/prisma/schema.prisma
Labels: hacktoberfest-accepted, gssoc-ext, level2

#275 added curated chatbot
  alimento-nextjs/app/(PublicRoutes)/page.tsx
  alimento-nextjs/components/chatbot/chatbot.tsx
  alimento-nextjs/components/chatbot/index.js
  alimento-nextjs/components/chatbot/steps.ts
  alimento-nextjs/components/chatbot/styles.js
  alimento-nextjs/next.config.ts
  alimento-nextjs/package.json
  alimento-nextjs/types/react-simple-chatbot.d.ts
Labels: hacktoberfest-accepted, gssoc-ext, level2

#276 refactored contributors page
  contributors/contributor.css
  contributors/contributor.html
  contributors/contributor.js
  output.css
  tailwind.config.js
Labels: hacktoberfest-accepted, gssoc-ext, level1

#277 added backend routes for chat and database schema for chat feature
  alimento-nextjs/actions/Chat/createChat.ts
  alimento-nextjs/actions/Chat/deleteMessage.ts
  alimento-nextjs/actions/Chat/editMessage.ts
  alimento-nextjs/actions/Chat/getAllChatBySeller.ts
  alimento-nextjs/actions/Chat/getAllChatByUserId.ts
  alimento-nextjs/actions/Chat/getSpecificChat.ts
  alimento-nextjs/prisma/schema.prisma
Labels: hacktoberfest-accepted, gssoc-ext, level3

#279 added dishes by vendor
  alimento-nextjs/app/(PublicRoutes)/customer/[customerId]/[vendorId]/page.tsx
  alimento-nextjs/app/(PublicRoutes)/customer/[customerId]/dashboard/components/listSellers.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level2

#280 added specific chat page, where customer and vendor can chat about a specific dish
  alimento-nextjs/app/(PublicRoutes)/customer/[customerId]/[vendorId]/(chat)/[dishId]/page.tsx
  alimento-nextjs/app/(PublicRoutes)/customer/[customerId]/[vendorId]/page.tsx
  alimento-nextjs/app/(PublicRoutes)/dishes/components/dishCardFE.tsx
  alimento-nextjs/public/chatbg.png
  alimento-nextjs/public/chatbgLight.png
  alimento-nextjs/public/data/chat.json
  alimento-nextjs/public/food2a.jpg
  alimento-nextjs/public/food2b.avif
Labels: hacktoberfest-accepted, gssoc-ext, level2

#281 Admin: schema , admin Role Type-in nextauth , loginPage , auth.ts modification
  alimento-nextjs/app/admin/[adminId]/page.tsx
  alimento-nextjs/app/admin/auth/components/login-form.tsx
  alimento-nextjs/app/admin/auth/page.tsx
  alimento-nextjs/lib/auth.ts
  alimento-nextjs/prisma/schema.prisma
  alimento-nextjs/public/adminLogin.png
  alimento-nextjs/types/next-auth.d.ts
Labels: hacktoberfest-accepted, gssoc-ext, level2

#282 added otp form and backend action , admin auth is now fully functional
  alimento-nextjs/actions/Admin/admin-login.tsx
  alimento-nextjs/app/admin/[adminId]/page.tsx
  alimento-nextjs/app/admin/auth/components/login-form.tsx
  alimento-nextjs/app/admin/auth/components/otp-form.tsx
Labels: hacktoberfest-accepted, gssoc-ext, level3
